<h1>Tech Avalanche Inventory System</h1>

<%= link_to "Add new product", new_product_path %>
<br>
<br>
<%= link_to "Add new location", new_location_path %>
<br>
<br>
<%= link_to "View All Products ", products_path %>
<br>
<br>
<%= link_to "View All Locations", locations_path %>



