
      <p class="h1"> Tech Avalanche Inventory System </p>
    <ul class="list-group"> 
    <li class="list-group-item"> <%= link_to "Add new product", new_product_path %> </li> 
    <li class="list-group-item"> <%= link_to "Add new location", new_location_path %>  </li>
    <li class="list-group-item"> <%= link_to "View All Products ", products_path %> </li>
    <li class="list-group-item"> <%= link_to "View All Locations", locations_path %>  </li>
</ul>